@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
.today {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    //background-color: $light-blue;
    color: $vivid-green;
    @include text-styles ($font-size: 1rem, $line-height: 1rem, $font-weight: 400);
}
.reminder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-green;
    color: $dark-green;
    padding: 1rem;

    

    &__form {
        text-align: center;
        display: flex;
        gap: 1rem;
    }

    &__input {
        padding: 0.5rem;
        font-family: 'AvenirNext LT Pro';
        border-radius: 4px;
        border: 1px solid $light-blue;
        color: $dark-green;
        background-color: $light-yellow;
        height: 2rem;
        width: 42rem;
        &::placeholder {
            text-align: center;
        }

    }
    &__list {
        margin: 1rem;
        list-style-type: none;
    }
    &__icon {
        width: 0.7rem;
        height: 0.7rem;
    }
    &__date {
        @include text-styles ($font-size: 1rem, $line-height: 1rem, $font-weight: 400);
        padding-top: 0.5rem;
    }

    &__memo {
        @include text-styles ($font-size: 1rem, $line-height: 1rem, $font-weight: 600);
    }

    &__date-input {
        margin: 0.5rem 0;
        background-color: $light-yellow;
        border-radius: 0.25rem;
        display: flex;
        border: 1px solid $light-blue;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        @include text-styles ($font-size: 1rem, $line-height: 1rem, $font-weight: 600);
        width: 42rem;
    }

    &__time-input {
        padding: 0.3rem;
        font-family: 'AvenirNext LT Pro';
        border-radius: 4px;
        border: 1px solid $dark-green;
        color: $dark-green;
        background-color: $light-yellow;
        height: 2rem;
        width: 30rem;

    }

    &__click {
        padding-bottom: 0.5rem;
    }

    &__button {
        @include text-styles($font-size: 2rem, $line-height: 2rem, $font-weight: 700);
        background-color: $dark-green;
        color: $light-yellow;
        padding: 0.25rem;
        border-radius: 50%;
        box-shadow: none;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        margin-top: 4rem;
    }

    &__item {
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid $dark-green;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.2); 
        width: 45rem;

        
        @include text-styles ($font-size: 1rem, $line-height: 1rem, $font-weight: 400);

    }

    &__memo-date {
        text-align: center;
    }

    &__time {
        padding-top: 0.5rem;
        @include text-styles ($font-size: 0.8rem, $line-height: 0.5rem, $font-weight: 400);
    }
}

